.about {
	&__footer {
		display: none;
		justify-content: space-between;
		margin: 0 auto;
		@include sm(max-width, 510px);
		@include xl(display, flex);
	    @include md(max-width, 690px);
	    @include lg(max-width, 930px);
	    @include xl(max-width, 1250px);
		&-text {
			display: flex;
			align-items: center;
			font-family: $fontMont;
			font-size: rem(16px);
			color: #E7E7E7;
			&-wrapper {
				margin-right: 20px;
			}
			&--style {
				font-size: rem(10px);
				display: flex;
				align-items: center;
			}
		}
		&-pic {
			width: 30px;
			margin-right: 10px;
		}
	}
	&-wrapper--sm {
		@include lg(position, static);
		@include lg(background-image, none);
		&::after {
			content: url(/img/aboutWood.png);
			position: absolute;
			top: 20%;
			right: -70px;
			@include sm(content, "");
		}
	}
	&-wrapper {
		position: relative;
		z-index: 1;
		@include lg(display, flex);
		@include lg(justify-content, space-between);
	}
	&__info {
		&-title {
			padding: 40px 0 40px 0;
			&-text {
				font-family: $fontMont;
				font-weight: 700;
				font-size: rem(28px);
				color: #fff;
				text-align: center;
				margin-bottom: 30px;
				@include lg(text-align, left);
				@include lg(max-width, 560px);
				@include lg(font-size, rem(48px));
				&--style {
					color: #f37335;
					font-style: italic;
				}
			}
			&-desc {
				font-family: $fontMont;
				font-style: italic;
				font-size: rem(15px);
				color: #fff;
				text-align: center;
				@include lg(font-size, rem(20px));
				&--lg {
					display: none;
					padding-left: 30px;
					font-size: rem(18px);
					color: #BDBDBD;
					font-style: italic;
					font-weight: 300;
					@include lg(display, inline-block);
				}
				&--sm {
					@include lg(display, none);
				}
			}
		}
		&-list {
			text-align: center;
			margin-bottom: 48px;
			@include lg(display, flex);
			@include lg(justify-content, space-between);
			@include lg(margin-right, 70px);
			@include xl(margin-right, 0);
		}
		&-item {
			margin-bottom: 26px;
			&-text {
				font-family: $fontMont;
				font-weight: 700;
				font-size: rem(15px);
				color: #E0E0E0;
				text-transform: uppercase;
				padding-bottom: 10px;
				border-bottom: 1px solid #00AB28;
				@include lg(display, inline-block);
				@include lg(font-size, rem(20px));
			}
		}
		&-button {
			text-align: center;
			margin-bottom: 60px;
			@include lg(order, 2);
			@include xl(margin-bottom, 35px);
			&-text {
				font-family: $fontRoboto;
				font-weight: 500;
				font-size: rem(16px);
				text-transform: uppercase;
				color: #fff;
				background: none;
				border: 2px solid #fff;
				box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.7);
				border-radius: 100px;
				padding: 12px 15px;
			}
		}
		&-advantages {
			&-wrapper {
				@include lg(display, flex);
				@include lg(align-items, flex-end);
			}
			&-list {
				padding-bottom: 90px;
				@include lg(padding-bottom, 0);
			}
			&-item {
				display: flex;
				margin-bottom: 40px;
				max-width: 300px;
				margin: 0 auto 40px auto;
				@include lg(max-width, 380px);
				&-pic {
					margin-right: 15px;
				}
				&-title {
					&-text {
						font-family: $fontMont;
						font-weight: bold;
						font-size: rem(15px);
						color: #00AB28;
						margin-bottom: 7px;
						@include lg(font-size, rem(16px));
					}
					&-desc {
						font-family: $fontMont;
						font-size: rem(15px);
						color: #E7E7E7;
						@include lg(font-size, rem(16px));
					}
				}
			}
		}
	}
	&__form {
		position: relative;
		margin: -80px auto 0 auto;
		z-index: 10;
		max-width: 280px;
		background-color: #fff;
		box-shadow: 0px 4px 40px rgba(114, 120, 122, 0.2);
		border-radius: 10px;
		padding: 60px 0 50px 0;
		height: max-content;
		@include sm(margin, -40px auto 0 auto);
		@include lg(max-width, 350px);
		@include xl(max-width, 420px);
		@include lg(margin, 40px 0 0 0);
		&-wrapper {
			position: relative;
			&::after {
				@include xl(content, url(/img/aboutWoodLg.png));
				@include xl(position, absolute);
				@include xl(right, -108px);
				@include xl(right, -75px);
				@include xl(top, 35px);
				@include xl(z-index, -1);
			}
		}
		&--lg {
			display: none;
			@include lg(display, block);
		}
		&--sm {
			@include lg(display, none);
		}
		&-title {
			margin-bottom: 30px;
			&-text {
				font-family: $fontRoboto;
				font-size: rem(22px);
				text-align: center;
				color: #4F4F4F;
				font-weight: bold;
				margin-bottom: 10px;
				@include lg(font-size, rem(30px));
			}
			&-desc {
				font-family: $fontRoboto;
				font-size: rem(16px);
				text-align: center;
				color: #828282;
				@include lg(font-size, rem(14px));
				@include lg(color, #333333);
			}
		}
		&-content {
			text-align: center;
			&-input {
				font-family: $fontRoboto;
				font-size: rem(16px);
				color: rgba(51, 51, 51, 0.3);
				background-color: #fff;
				box-shadow: 0px 0px 15px rgba(124, 131, 138, 0.15);
				border-radius: 100px;
				margin-bottom: 20px;
				height: 50px;
				padding-left: 20px;
				@include lg(width, 300px);
			}
		}
		&-footer {
			text-align: center;
			&-button {
				@include btnStyles;
				height: 50px;
				padding: 0 65px;
				margin-bottom: 15px;
				@include lg(padding, 0 100px);
			}
			&-text {
				font-family: $fontRoboto;
				font-weight: 300;
				font-size: rem(12px);
				text-align: center;
				color: #BDBDBD;
			}
			&-link {
				color: #FFAB00;
			}
		}
	}
}

